$hoverColor: #16a085;
$textColor: #ffffff;
$bgColor: #2c3e50;
$posVal: fixed;
$opacLogo: .2;

body, html {
  height: 100%;
}

/*
.logo-img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
}
*/
.bg-logo {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.bg-logo-img > img {
  animation: bg-logo-fade 16s;
  opacity: $opacLogo;
}

.bg-logo-img {
  grid-column: 2;
  grid-row: 2;
}

@keyframes bg-logo-fade{
  from {
    -webkit-transform:scale(0);
  }

  to {
    -webkit-transform:scale(1);
  }
}

.bg {
  /* The image used */
  background-image: url("blue_forest.jpg");

  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  overflow: hidden;
}


/* center links on nav */
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

/* center links on nav */
.navbar-nav > li {
  display: inline-block;
  float:none;
}

/* change the background color */
.navbar-custom {
  background-color: $bgColor;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.9);
    padding: .8rem 4rem;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: $hoverColor; /* add background-color to active links */
}
