body {
  background-color: #33334d;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
} /* Globally */

/* Each state */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

ul {
  list-style: none;
}
