// =========================== blog post css vars =========================== //
$marginWidth: 375px;
$paddingTop: 50px;
$blogPostBgColor: #273f56;
$blogTextColor: #afafaf;


// ======================= background and nav css vars ====================== //
$hoverColor: #16a085;
$textColor: #ffffff;
$bgColor: #2c3e50;
$posVal: fixed;
$opacLogo: .2;

html{
  //overflow: auto;
}
body, html {
  height: 100%;
}

$scrollbarWidth: 10px;
$scrollbarTrackColor: #2c3e50;
$scrollbarHandleColor: #59728c;


// ==================  Scroll bar css ================================ //
/* width */
::-webkit-scrollbar {
  width: $scrollbarWidth;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbarTrackColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbarHandleColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scrollbarHandleColor;
}

a#logo-navbar-img > img {
  //background-image: url("/img/logo.png");
  height: 35px;
  width: 35px;
}
// =========================== link css ===================================== //
/* unvisited link */
a {
  text-decoration: none;
  color: $blogTextColor;
}

a:link {
  text-decoration: none;
  color: $blogTextColor;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: $blogTextColor;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: white;
}

/* selected link */
a:active {
  text-decoration: none;
  color: $blogTextColor;
}

// =========================== blog typography ============================== //
.post-header {
  padding-bottom: 25px;
}
hr {
  opacity: .2;
  border-width: 0 0 5px;
  border-style: dashed;
  background: 0 0;
  width: 80%;
  margin: auto;
}
.postContent blockquote{
  border-left: .25em solid;
  margin: 1em;
  padding: 0 1em;
  font-style: italic;

  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.postContent p{
  letter-spacing: .06em;
  font-size: 1.25em;
}
.postContent sup{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-style: italic;
  top: -.5em;
  text-align: right;
}
.footnote-ref a{
  color: $blogTextColor;
}

pre {
  padding: 0px 15px;
}

.postContent img{ // center any images and make sure they fit the div
  max-width: 100%;
  max-width: 100%;
  padding: 0px 0px 5px 0px;
  display:block;
  margin:auto;
}
.postContent table{
  padding: 8px;
  min-width: 100%;
  border: solid white;
}
// =========================== blog post css =============================== //

.postContainer{
  display: grid;
  grid-template: 1fr;
  margin-left: $marginWidth;
  margin-right: $marginWidth;
  padding-top: 150px;
  padding-bottom: $paddingTop;
}

.postContent{
  background-color: $blogPostBgColor;
  columns: $blogTextColor;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
}

.navbar.hide-nav {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
em {
  font-style: italic;
}

// ======================== background and nav css ========================== //
.bg {
  /* The image used */
  //background-image: url("../../blue_forest.jpg");

  /* Full height */
  min-height: 100%;
  background-color: #192b3e;
  /* Center and scale the image nicely */
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;

  color: $blogTextColor;
  //overflow-x: hidden;
}


/* center links on nav */
.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

/* center links on nav */
.navbar-nav > li {
  display: inline-block;
  float:none;
}

.navbar { // hide navbar
  width: 100%;
  position: fixed;
  -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0);
}
/* change the background color */
.navbar-custom {
  background-color: $bgColor;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.9);
    padding: .8rem 4rem;
}

/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    background-color: $hoverColor; /* add background-color to active links */
}

@media only screen and (max-width: 600px)
{
  .postContainer{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 150px;
    padding-bottom: $paddingTop;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 600px) and (max-width: 850px)
{
  .postContainer{
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    //padding-top: 150px;
    //padding-bottom: $paddingTop;
  }
}

/* Large desktop */
@media (min-width: 850px) and (max-width: 1100px)
{
  .postContainer{
    margin-left: 50px;
    margin-right: 50px;
    //padding-top: 150px;
    //padding-bottom: $paddingTop;
  }
}

/* Large desktop */
@media (min-width: 1100px) and (max-width: 1300px)
{
  .postContainer{
    margin-left: 200px;
    margin-right: 200px;
    //padding-top: 150px;
    //padding-bottom: $paddingTop;
  }
}
